@import "fontsheet.css";

body
{
    width: 100vw;
    height: 100vh;
    background-color: #000431;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#main-frame
{
    border: 4px #FFF500 solid;
    height: 90%;
    width: 90%;
    margin: auto;
}

#mid-frame
{
    border-bottom: 3px #FFF500 solid;
    height: 13%;
    display: flex;
    overflow: hidden;
}

#mid-frame h2
{
    display: flex;
    white-space: nowrap;
    font-size: 60px;
    font-family: 'gtfxebl';
    list-style-type: none;
    animation: scrollh2 45s linear infinite;
    margin:  0;
}

#mid-frame p:nth-child(n)
{
    margin:  0;
}

#mid-frame p:nth-child(2n)
{
    color: #000431;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellow;
}

#mid-frame p:nth-child(2n+1)
{
    color:  yellow;
}

#content-frame
{
    height: 71%;
    display: flex;
    overflow: hidden;
}

#image-box
{
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}

#text-box
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-self: flex-end;
}

.presentation
{
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    font-family: 'gtfr';
    color:#FFF500;
    width: 65%;
}

#benjamin-img
{  
    height: auto;
    width: auto;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    margin: 10% 15% 0 20%;
}

.base_circle
{
    position: absolute;
    border-radius: 50%;
    background: #FFF500;
    aspect-ratio: 1 / 1;
}

#large_circle 
{
    
    right: 10%;
    bottom: 25%;
    /*transform: translate(50%, 50%);*/
    height: 70%;
    z-index: 1;
}

#small_circle
{
    top: 75%;
    right: 25%;
    height: 10%;
    z-index: 3;
}

#top-frame
{
    border-bottom: 3px #FFF500 solid;
    height: 15%;   
    display: flex;
    overflow: hidden;
}

#top-frame h1
{
    display: flex;
    white-space: nowrap;
    font-size: 80px;
    font-family: 'gtfxebo';
    list-style-type: none;
    animation: scrollh1 18s linear infinite;
    margin:  0;
}

#top-frame p:nth-child(n)
{
    margin:  0;
}

#top-frame p:nth-child(2n)
{
    color: #000431;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellow;
}

#top-frame p:nth-child(2n+1)
{
    color:  yellow;
}

@keyframes scrollh1
{
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(-100%, 0);
    }
}

@keyframes scrollh2
{
    0%{
        transform: translate(-100%, 0);
    }
    100%{
        transform: translate(0%, 0);
    }
}

#contact-container
{
    position: relative;
    display: flex;
    flex: row;
    align-items: center;
}

.presentation br 
{
    content: "";
    display: block;
    margin-bottom: 25px; 
}

#Calque_1 path
{
    stroke: #FFF500;
    fill:#FFF500;
}

#Calque_1
{
    padding-right: 10px;
    height: 30px;
    aspect-ratio: 1 / 1;
}